.home-container {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      color: #333;
    }
  }

  .data-popu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }